.simple-paragraph {
    max-width: 50%;
}
.simple-paragraph_hidden {
    display: none;
}

.btn {
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s all;
}
.btn:hover, .btn:focus {
    background-color: #000;
}
.btn_primary {
    background-color: #006eff;
    color: #fff;
}
.btn_secondary {
    background-color: #ff002b;
    color: #fff;
}